{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Month{% endblock %}</h1>
  <a  href="{{ url_for('months.index') }}">Go Back</a>
{% endblock %}

{% block content %}
  <form method="post">
	  <label for="date">Select Month</label>
    <input name="date" id="date" type="month" value="{{ request.form['date'] or date }}">
    <label for="projected">Projected Budget</label>
    <input name="projected" id="projected" value="{{ request.form['projected'] }}">
    <label for="actual">Actual Spending so far</label>
    <input name="actual" id="actual" value="{{ request.form['actual'] }}">
    <label for="savings">Estimated savings</label>
    <input name="savings" id="savings" value="{{ request.form['savings'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}