{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Month{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
	  <label for="date">{{ month }}, {{ year }}</label>
    <label for="projected">Projected Budget for {{ month }}</label>
    <input name="projected" id="projected" value="{{ request.form['projected'] }}">
    <label for="actual">Actual Budget so far for {{ month }}</label>
    <input name="actual" id="actual" value="{{ request.form['actual'] }}">
    <label for="savings">Estimated savings for {{ month }}</label>
    <input name="savings" id="savings" value="{{ request.form['savings'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}