{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Month"{% endblock %}</h1>
  <a  href="{{ url_for('months.index') }}">Go Back</a>
{% endblock %}

{% block content %}
  <form method="post">
	  <label for="date">Current Selection</label>
    <input name="date" id="date" type="month" value="{{ request.form['date'] or date }}">
    <label for="projected">Projected Budget</label>
    <input name="projected" id="projected" value="{{ request.form['projected'] or m['Projected'] }}">
    <label for="actual">Actual Spending so far</label>
    <input name="actual" id="actual" value="{{ request.form['actual'] or m['Actual'] }}">
    <label for="savings">Estimated savings</label>
    <input name="savings" id="savings" value="{{ request.form['savings'] or m['Savings'] }}">
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('months.delete', id=m['Id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}