{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Transaction{% endblock %}</h1>
  <a  href="{{ url_for('transactions.index') }}">Go Back</a>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="location">Location</label>
    <input name="location" id="location" value="{{ request.form['location'] }}">
    <label for="amount">Amount</label>
    <input name="amount" id="amount" value="{{ request.form['amount'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}