{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Transaction: "{{ t['Location'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="location">Transaction Location</label>
    <input name="location" id="location" value="{{ request.form['location'] or t['Location'] }}">
    <label for="amount">Amount</label>
    <input name="amount" id="amount" value="{{ request.form['amount'] or t['Amount'] }}">
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('transactions.delete', id=t['Id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}